body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.container {
    max-width: 400px;
    width: 90%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.form-group {
    margin-bottom: 15px;
}
.input-group {
    margin-bottom: 15px;
    padding-right: 22px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #218838;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}